* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../public/img/fondo.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.input-group-append {
  cursor: pointer;
}
h2 {
  color: rgb(43, 43, 43);
  font-weight: 700;
}
.titulo {
  border-bottom: rgb(189, 188, 188) 1px solid;
}

.bgbody {
  background-color: #212529 !important;
}

nav .navbar-nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  font-size: 18px;
}
nav .navbar-nav li a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.portal h1 {
  color: white;
}

.portal h3 {
  color: rgb(207, 202, 196);
}
