h2 {
  color: rgb(43, 43, 43);
  font-weight: 700;
}
.titulo {
  border-bottom: rgb(189, 188, 188) 1px solid;
}
.bgbody {
  background-color: #212529 !important;
}

.fondo {
  width: 100%;
}

nav .navbar-nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  font-size: 18px;
}
nav .navbar-nav li a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}
